<li class="left clearfix"><span class="chat-img pull-left">
    <img src="http://placehold.it/50/55C1E7/fff&text=User" alt="User Avatar" class="img-circle" />
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font"><%= user.name %></strong> <small class="pull-right text-muted">
      <span class=""></span><%= message.created_at.to_formatted_s(:short) %></small>
    </div>
    <p>
      <%= message.content %>
    </p>
  </div>
</li>
