<% title 'Join the Homewood Team' %>
<% meta_tag :description, "Snow Schoolers instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/bigblue-jump.png'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 white-transparent-bg">
                    <div class="hidden-unless-mobile col-md-12">

                        <div id="recruiting-Carousel" class="carousel slide" data-ride="carousel">

                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#recruiting-Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="1"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="2"></li>
                          </ol>
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <h1 class="hw-blue-text center padding-top">Ski and ride Tahoe's best kept secret for free!</h1>
                            </div>

                            <div class="item">
                              <h1 class="hw-blue-text center padding-top">Earn $10.50 per hour (DOE).</h1>
                            </div>

                            <div class="item">
                              <h1 class="hw-blue-text center padding-top">
                                No previous experience required.

                              </h1>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-12 vertical-padding">
                          <h1 class="center white-text btn-apply btn-lg">
                            <a href="#recruiting-learn-more"> Learn More </a>
                          </h1>
                        </div>

                    </div>
                    <div class="col-md-12 padding-top hidden-unless-desktop">
                        <h1 class="center btn-apply-homewood btn-lg"> Join Homewood as a Lift Operations Associate!</h1>
                    </div>
                    <div class="col-md-12">
                        <%= render partial: 'applicants/form' %>
                    </div>
                </div>
                <div id="recruiting-learn-more" class="col-md-6 col-xs-12 black-transparent-bg">
                    <h1 class="center white-text"> Ski <b>FREE</b> the rest of the season!</h1>
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/tahoe-ski-bum.png" class="ski-bum-photo" alt="ski-bum-photo"> -->
                    <hr>
                    <h2 class="recruiting-ctas center white-text"> Earn at least $10.50/hr (DOE)</h2>
                    <h2 class="recruiting-ctas center white-text"> Enjoy free rentals & lessons</h2>
                    <!-- <h2 class="recruiting-ctas center white-text"> Teach at any of our partner ski areas.</h2> -->
                    <h2 class="recruiting-ctas center white-text"> 50% off all food & beverage sales</h2>
                    <hr>
                    <div class="blue-box-highlight">
                        <h1 class="center white-text">Job Requirements</h1>
                        <ul class="recruiting-ctas white-text"> 
                            <li>No previous lift operations experience required.</li>
                            <li>Attention to detail and willingness to learn.</li>
                            <li>Ability to work on your feet for extended periods of time.</li>
                            <li>Desire to share your love for Tahoe with all of our guests.</li>
                            <li>Full-time and part-time hours available. </li>
                        </ul>
                    </div>
                    <div id="spacer"></div>
                    <hr>
                    <img src="https://s3.amazonaws.com/snowschoolers/madden-lift-ops2.jpg" class="ski-bum-photo" alt="lift operations photo">
                    <!-- <h2 class="recruiting-ctas center white-text"> #freelanceFreedom</h2> -->
                    <hr>
                    <h3 class="white-text center">                       
                    </h3>
                </div>
            </div>
        </div>
    </section>


<section class="blue-box-highlight small">
        <div class="container text-center">
            <div class="call-to-action vertical-padding">
                <h1 class="white-text">About Homewood</h1>
                <h3 class="white-text left about-homewood">
                     Opened in 1959, Homewood Mountain Resort remains one of Tahoe’s classic family-friendly resorts with an epic peak to shore experience. Named the “gem of Lake Tahoe’s West Shore” by SKI Magazine, the 1,260-acre mountain offers unobstructed views of the entire Lake and surrounding peaks and features 8 lifts and 64 runs with over 750 acres of guided snowcat accessible terrain. Homewood's offers a truly unique four-season resort with flawless grooming, hidden powder stashes and an intimate West Shore setting located just steps from Lake Tahoe.
                </h3>
                   <a href="http://hr7781.wixsite.com/employment" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
        <hr>
        <div class="container text-center">
            <div class="call-to-action">
                   <a href="#apply" class="btn btn-primary btn-xl page-scroll">Apply Now</a>
                   <h4 class="white-text">
                    Questions? Email us at <a href="mailto:info@snowschoolers.com">info@snowschoolers.com</a>
                   </h4>

            </div>
        </div>
        <div class="buffer"></div>
</section>
 
<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
