<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new user, <%= @beta_user.email %> has just requested concierge support. If they've entered a phone number, it is <%= @beta_user.phone_number %>, and they'd like to be contacted within 24 hours.
    </p>
  </body>
</html>
