<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
		A new user has clicked through to the Liftopia from the beginner's guide (or home page).    </p>
  </body>
</html>

