<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new user, <%= @beta_user.email %> has just signed up and is interested in doing a free lesson/guiding experience in Jackson.
    </p>
  </body>
</html>
