<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new user, <%= @beta_user.email %> has just signed up for the March Madness promo.
  </body>
</html>
