<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> A new user has clicked through to the Homewood season pass page from either the SS home page or an email.
    </p>
    <p> 
      <ul>
        <li>Current User (email): <%= @current_user %></li>        
        <li>IP Address: <%= @unique_id %></li>        
      </ul>
    </p>

  </body>
</html>

