<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Snow Schoolers is getting noticed!</h1>
    <p>
      <%= @email %> has just visited the instructor application page at www.snowschoolers.com/apply.
    </p>
  </body>
</html>
