<h3 class="left"><b>Step 1</b> - Decide where you want to ski.</h3>
<p class="left">Both North Tahoe & South Tahoe each have a full range of accommodations options from budget to luxury, but we'd all rather drive 10 minutes to the slopes than over an hour, and driving from one end of the lake to the other can be brutal, especially in bad weather.
</p>
<h3 class="center">
	<a href="beginners-guide-to-tahoe#resorts" class="btn btn-default btn-lg">Compare Resorts</a>
</h3>

<h3 class="left"><b> Step 2</b> - Search Google, Airbnb, and/or a few of the other rental listing agencies below.</h3>
<ul class="guide-lists">
	<li><a href="https://www.airbnb.com/s/Lake-Tahoe?guests=1&adults=1&children=0&infants=0&place_id=ChIJUREfuaF4mYARILWv7q8fP4w&checkin=01%2F27%2F2017&checkout=01%2F29%2F2017&ss_id=un9vwxkt&source=bb&page=1&s_tag=NyhMA0Y1&allow_override%5B%5D=" class="green-link" target="_blank">Airbnbs in Lake Tahoe</a></li>
	<li><a href="http://www.tluxp.com/lake-tahoe-vacation-rentals?avail_filter%5Brcav%5D%5Bbegin%5D=&avail_filter%5Brcav%5D%5Bend%5D=&avail_filter%5Brcav%5D%5Bflex_type%5D=d&rc_core_term_weblink_area_tid%5B%5D=436&rc_core_term_weblink_area_tid%5B%5D=432&rc_core_term_weblink_area_tid%5B%5D=429&rc_core_term_weblink_area_tid%5B%5D=437&rc_core_term_weblink_area_tid%5B%5D=434&beds_numeric=&occ_total_numeric=&items_per_page=12&sort_bef_combine=beds+DESC" class="green-link" target="_blank">Tahoe Luxury Properties</a> - <span class="text-smaller">definitive leader in 5-star accommodations & concierge support.</span></li>
	<li><a href="https://tahoerentals.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Tahoe Rentals by Wells & Bennett</a></li>
	<li><a href="https://www.tahoegetaways.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Tahoe Getaways: Vacation Rentals & Ski Leases</a></li>
	<li><a href="http://www.westlakeproperties.com/home?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">West Lake Properties</a></li>
	<li><a href="https://www.vrbo.com/vacation-rentals/usa/lake-tahoe?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">VRBO - Tahoe City Vacation Rentals</a></li>
	<li><a href="https://www.flipkey.com/lake-tahoe-vacation-rentals/g155987/?m=20342&supci=1218149964&supag=15582673759&supsc=kwd-4693315530&supai=112954399159&supap=1t2&supdv=c&supnt=g&suplp=9061260&supli=&supap1=$123&supap2=2478&supti=kwd-4693315530&gclid=CImGtMju29ECFQt_fgodA4wCsA" class="green-link" target="_blank">FlipKey by TripAdvisor</a></li>
</ul>

<h3 class="left"><b> Step 2b) </b> If you're staying in North Tahoe and want some more inspiration, below are our favorite places in North Tahoe that we can personally vouch for.</h2>
<hr>
<h1>
	<b> Our Favorite Airbnb Listings in North Tahoe </b>
    <img src="https://s3.amazonaws.com/snowschoolers/airbnb-logo.png" alt="airbnb" class="airbnb-logo hidden-unless-desktop">
</h1>
<p class="left"> Each of these properties are great for families and owned by lovely hosts with invaluable local knowledge to help guide your stay; note that availability can be limited especially over holidays.
</p>
<p class=""><span class="driving-times">(Note that all estimated driving times below represent the distance from Homewood Mountain Resort.)</span></p>
<ul class='guide-lists'>
	<li><a href="https://www.airbnb.com/rooms/12066854?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Charming 1949 Tahoe 2BR Cabin (5 min drive)</a> - sleeps 6, $129/night</li>
	<li><a href="https://www.airbnb.com/rooms/9167072?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">West Shore Luxury Cottage - 3 BDR (walkable)</a> - sleeps 6, $592/night</li>
	<li><a href="https://www.airbnb.com/rooms/4462007?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Homewood Hideaway's 2 Bedroom Flat (walkable)</a> - sleeps 5, $255/night</li>
	<li><a href="https://www.airbnb.com/rooms/11241632?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Chamberlands Bear's Den (2 min drive)</a> - sleeps 8, $246/night</li>
	<li><a href="https://www.airbnb.com/rooms/15705335?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Game Room Suite (3 min drive)</a> - sleeps 6, $180/night</li>
	<li><a href="https://www.airbnb.com/rooms/11587047?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Rustic Cabin with Comforts of Home (7 min drive)</a> - sleeps 4, $169/night</li>
	<li><a href="https://www.airbnb.com/rooms/16053859?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Peaceful Mountain Apartment</a> - 1 BDR (15 min drive) - $115/night</li>
<!-- 	<li><a href="https://www.airbnb.com/rooms/16395197?s=QDgXSqYd&utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Ski Bunkhouse (15 min drive)</a> - $45/night</li>
 -->	
 	<li><a href="https://www.airbnb.com/rooms/6600596?s=VYZbCDNW&utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Comfortable King Bed in Carnelian Bay (20 min drive)</a> - $200/night</li>
</ul>
<p class="italic">**Please note that Airbnb prices are subject to change. Prices last updated on 1/24/17.</p>
<hr>
<h1> <b>Our Favorite Hotels and Inns in North Tahoe</b></h1>
<ul class="guide-lists">
	<li><a href="http://www.westshorecafe.com/lake-front-tahoe-lodging?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">West Shore Cafe & Inn (owned by Homewood, walkable) -</a> from $350/night</li>
	<li><a href="http://www.cedarcrestcottages.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Cedar Crest Cottages - (1 min drive, not walkable)</a> from $250/night</li>
	<li><a href="http://www.sunnysideresort.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Sunnyside Resort & Lodge (6 min drive)</a> - from $200/night</li>
	<li><a href="http://thecottageinn.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">The Cottage Inn (7 min drive)</a> - from $225/night</li>
	<li><a href="http://www.americasbestvalueinn.com/bestv.cfm?idp=1013&utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">America’s Best Value Inn (11 min drive)</a> - from $148/night</li>
	<li><a href="http://granlibakken.com/room-types/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Granlibakken (12 min drive)</a> - from $170/night</li>
	<li><a href="http://www.peppertreetahoe.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Pepper Tree Inn (12 min drive)</a> - from $168/night</li>
	<li><a href="http://www.tahoecityinn.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Tahoe City Inn (12 min drive) </a ->from $125/night </li>
	<li><a href="http://www.mothernaturesinn.com/rates.htm" class="green-link" target="_blank">Mother Nature’s Inn (12 min drive)</a> - from $65/night (must call, no online booking)</li>
	<li><a href="http://basecamptahoecity.com/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Base Camp Tahoe (13 min drive)</a> from $153/night</li>
	<li><a href="http://hosteltahoe.com/rates/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Hostel Tahoe (29 min drive)</a> - from $30/night per dorm bed, $65/night for private room</li>
	<li><a href="http://www.apres.org/?utm_campaign=SnowSchoolers_beginner_guide" class="green-link" target="_blank">Apres Ski Club (30 min drive)</a> - from $22/night, requires $60 annual membership/li>
</ul>

<h4 class="center"><a href="#TOC" class="btn btn-default">Back to Top</a></h4>

