<img src="https://s3.amazonaws.com/snowschoolers/uber-lyft-logos.jpg" alt="tahoe-map" class="uber-lyft-logo">
<h2 class="center"><b>Uhh... is there Uber?</b> <span class="italic smaller-text">(the most important question.)</span> </h2>
<h3 class="left">Yes! Since early 2016, Uber and Lyft have both had drivers in both North and South Lake Tahoe. However, expect wait times to typicall be in the 10-15 minutes range, and fares will likely be a bit higher than in San Francisco or Sacramento, to compensate for the longer distances drivers must travel to pick you up.</h3>
<hr>
<h2><b>Best Locations for Après Ski</b></h2>
<ul class="guide-lists">
	<li class="white-text">Homewood: <a href="http://www.westshorecafe.com/" class="green-link" target="_blank">West Shore Cafe</a> - enjoy free s'mores and $5 draft beer.</li>
	<li class="white-text">Alpine Meadows: <a href="http://www.skilaketahoe.com/on-mountain-dining-at-squaw-valley-alpine-meadows/" class="green-link" target="_blank">The Chalet</a> - Bavarian-style beer garden next to Scott chair.</li>
	<li class="white-text">Squaw: <a href="http://www.squawchamois.com/" class="green-link" target="_blank">Le Chamois</a> - the classic outdoor Après scene, a must-do after spring skiing.</li>
	<li class="white-text">Northstar: <a href="http://www.northstarcalifornia.com/the-village/tcs-pub.aspx" class="green-link" target="_blank">TC's Pub</a> - classic sports bar in the village with burgers & TVs.
	</li>
</ul>
<hr>

<h2><b>Late-night Shenanigans</b></h2>
<ul class="guide-lists">
	<li class="white-text">Tahoe City: <a href="https://www.yelp.com/biz/pete-n-peters-tahoe-city" class="green-link" target="_blank">Pete N Peters</a></li>
	<li class="white-text">Truckee: <a href="https://www.yelp.com/biz/moodys-bistro-bar-and-beats-truckee" class="green-link" target="_blank">Moody's Bistro Bar & Beats</a></li>
	<li class="white-text">Incline Village: <a href="https://www.yelp.com/biz/crystal-bay-casino-crystal-bay" class="green-link" target="_blank">Crystal Bay Casino</a></li>
	<li class="white-text">South Lake Tahoe: <a href="https://www.caesars.com/harrahs-tahoe" class="green-link" target="_blank">Harrah's Lake Tahoe Casino</a></li>
</ul>
