<h2 class="section-heading how-it-works navy-text center">Where best to Ski in Tahoe</h2>
<h3 class="left navy-text">Tahoe has been a world-renowned skiing destination since the early 1900s, and boasts 16 resorts within 35 miles of the lake. <br> <br> Each mountain has its own unique atmosphere and terrain, with price points varying from the budget-friendly to 5-star luxury. Below you'll find our experiential and unscientific ranking of each resort.  <a href="/resorts" class="navy-bold-link"> Compare all resorts</a> or click a specific resort below to explore additional details for each ski area.</h3>
<h2 class="center"> <a href="/resorts#comparison" class="btn btn-default btn-lg">View All Resort Details</a></h2>
<div id="resort-list">
<hr class="deposit-hr-navy">
	<img src="https://s3.amazonaws.com/snowschoolers/skitahoe_map.jpg" alt="tahoe-map" class="tahoe-map hp-photo-margin navy-border">
	<ol class="guide-lists navy-text">
		<li><a href="resorts#homewood" class="navy-link">Homewood </a></li>
		<li><a href="resorts#kirkwood" class="navy-link">Kirkwood </a></li>
		<li><a href="resorts#alpine-meadows" class="navy-link">Alpine Meadows </a></li>
		<li><a href="resorts#squaw-valley" class="navy-link">Squaw Valley </a></li>
		<li><a href="resorts#sugar-bowl" class="navy-link">Sugar Bowl </a></li>
		<li><a href="resorts#heavenly" class="navy-link">Heavenly </a></li>
		<li><a href="resorts#northstar" class="navy-link">Northstar </a></li>
		<li><a href="resorts#mount-rose" class="navy-link">Mt. Rose </a></li>
		<li><a href="resorts#sierra-at-tahoe" class="navy-link">Sierra at Tahoe </a></li>
		<li><a href="resorts#boreal" class="navy-link">Boreal </a></li>
		<li><a href="resorts#diamond-peak" class="navy-link">Diamond Peak </a></li>
		<li><a href="resorts#tahoe-donner" class="navy-link">Tahoe Donner </a></li>
		<li><a href="resorts#soda-springs" class="navy-link">Soda Springs </a></li>
		<li><a href="resorts#donner-ski-ranch" class="navy-link">Donner Ski Ranch </a></li>
		<li><a href="resorts#granlibakken" class="navy-link">Granlibakken </a></li>
		<li><a href="resorts#sky-tavern" class="navy-link">Sky Tavern </a></li>
	</ol>
<hr class="deposit-hr-navy">
</div>

