  <div class="col-md-8 col-xs-12">
    <h2 class="center things-to-do-header">Personally not a fan of skiing or snowboardng? <br> Not a problem. <br> Tahoe has activities for everyone!</h2>
    <p class="about-tahoe white-text">
    Whether you're staying in North Tahoe or South Lake, there are plenty of other ways to enjoy Tahoe. If the weather is nice, we highly encourage getting outside and finding a bit of elevation to take in the picturesque views that have made Tahoe famous for so many years. When it's blowing snow in all directions, a spa day may be just what the doctor ordered.
    </p>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="maps-container row">
      <img src="https://s3.amazonaws.com/snowschoolers/sledding-swedish-toddlers.jpg" alt="tahoe-map" class="hp-photo-margin">
    </div>
  </div>

<div class="col-md-12">
      <hr>
</div>

<h2 class="center"><b>Other Outdoor Activities</b></h2>
<ul class="guide-lists">
	<li class="white-text">Sledding (FREE!) - check out <a href="https://www.gotahoenorth.com/things/sledding/" class="green-link" target="_blank"> the most popular locations.</a></li>
	<li class="white-text">Snowshoeing - rentals available from <a href="http://tahoedaves.com/" class="green-link" target="_blank">Tahoe Dave's</a> for just $20/day.</li>
	<li class="white-text">Tubing at <a href="http://squawalpine.com/events-things-do/lake-tahoe-snow-tubing" class="green-link" target="_blank">Squaw Valley</a> or <a href="http://granlibakken.com/ski-board-sled-hill/" class="green-link" target="_blank">Granlibakken.</a></li>
	<li class="white-text">Cross-country skiing - the <a href="https://tahoexc.org/" class="green-link" target="_blank"> Tahoe City XC Center</a> is our favorite!</li>
	<li class="white-text">Learn how to fly a <a href="http://www.royalgorge.com/snowkite" class="green-link" target="_blank">Snow Kite at Royal Gorge</a> (near Sugar Bowl).</li>
	<li class="white-text">Enjoy sledding, XC, snowshoeing, or ice skating on the brand new outdoor rink at the <a href="http://wintersportspark.com/rates/" class="green-link" target="_blank">Tahoe City Winter Sports Park.</a>
	<br>
	<br>
	</li>
</ul>
<h2 class="center"><b>Warm & Cozy Things to Do</b></h2>
<ul class="guide-lists">
	<li class="white-text">Catch a matinee at the <a href="http://tahoearthauscinema.com/" class="green-link" target="_blank">The Haus</a> movie theatre in Tahoe City.</li>
	<li class="white-text">Enjoy an afternoon of <a href="https://tahoe.com/tahoe-city/shopping" class="green-link" target="_blank">shopping in downtown Tahoe City.</a></li>
	<li class="white-text">Spa Day - treat yourself at the <a href="http://www.northstarmountainvillage.com/resort/spa" class="green-link" target="_blank">Northstar village spa</a> or the <a href="http://squawalpine.com/events-things-do/trilogy-spa" class="green-link" target="_blank">Trilogy Spa</a> at Squaw Valley.</li>
</ul>

