<h2 id="tickets-and-rentals" class="section-heading how-it-works navy-text center">Lift Tickets & Rental Equipment</h2>
<h3 class="left">
	Whether booking with Snow Schoolers or elsewhere, private lessons do not include lift ticket or rentals. Group lesson packages are another story, and are typically the most affordable way to book your first ski or snowboard experience. Check out our <a href="learn-to-ski-packages" class="navy-link" target="_blank">Learn to Ski Package Comparison Tool</a> to explore your options for group lesson packages in Tahoe. 
</h3>
<h3 class="left"><b></b> Overall, keep in mind that the best way to save money over the long term is to invest your own equipment, and to <b><a href="tahoe-season-passes" class="navy-link">buy a season pass</a></b> at your favorite resort. But since having a lift ticket and equipment are required for any ski trip, here are a few ways to save some money (and time).
</h3>
<hr class="deposit-hr-navy">
<h3 class="left"><b> Lift Tickets</b> </h3>
<div class="row lift-tickets-container">
<div class="col-md-3 col-xs-12 liftopia-logo liftopia-mobile hidden-unless-mobile">
    <script type="text/javascript" src="//www.avantlink.com/link.php?ml=28737&amp;p=167839&amp;pw=209735&amp;open=_blank"></script>
</div>
<div class="col-md-9 col-xs-12 lift-ticket-info">
    <ul class="guide-lists">
    	<li>
    	<!-- <a href="/liftopia" target="_blank"> <img src="https://s3.amazonaws.com/snowschoolers/liftopia-logo.png" alt="liftopia" class="liftopia-logo"></a> -->
        <a href="/liftopia" class="navy-link" target="_blank">Liftopia.com</a> - for the last 10 years Liftopia has been the best place to get discount lift tickets online. Almost every resort in Tahoe can be found on Liftopia, and they offer dynamic pricing, so the earlier you book, the more you save.</li>
    	<li><a href="/sports-basement" class="navy-link" target="_blank">Sports Basement</a> with 7 locations in the Bay Area, Sports Basement is a great first stop before any Tahoe Trip, offering lift ticket vouchers, rental equipment, and general winter apparel. While you can't buy lift tickets online, you can view their <a href="https://s3.amazonaws.com/snowschoolers/sports-basement-prices-16-17.png" class="navy-link" target="_blank">prices here</a>. It is worth calling ahead, because sometimes they run out of vouchers for individual resorts.</li>
    	<li><a href="https://www.costco.com/ski-lift-vouchers.html?utm_campaign=SnowSchoolers_beginner_guide" class="navy-link" target="_blank">Costco</a> also offers lift vouchers, usually in packages of 2 or 4. Some tickets are now eligible for eDelivery, but even if not, we all know it doesn't hurt to have another excuse to stop by Costco!</li>	
    	<li>Lastly, almost every resort today offers online lift tickets purchases on their own websites. This usually must be done <b>at least 24-48 hours in advance</b>, but will still save you ~10% off of the ticket-window price.</li>
    </ul>
</div>
<div class="col-md-3 col-xs-12 liftopia-logo hidden-unless-desktop">
    <script type="text/javascript" src="//www.avantlink.com/link.php?ml=28733&amp;p=167839&amp;pw=209735&amp;open=_blank"></script>    
    <!-- Homewood text ad affiliate link -->
    <!-- <script type="text/javascript" src="//www.avantlink.com/link.php?ml=96961&amp;p=167839&amp;pw=209735&amp;open=_blank"></script> -->
</div>
</div>

<h3 class="left"><b> Rental Equipment</b></h3>
      <ul class="guide-lists">
        <li> If you live in the Bay Area or Sacramento, the cheapest option for rentals is from an urban retailer. We are big fans of the <a href="/sports-basement" class="navy-link" target="_blank">Sports Basement</a>, which offers 1-day rentals for $35 or a <b> long weekend rental (2-4 days) for just $55</b>.They'll also outfit you with apparel for rent, from ski jackets to pants to helmets and goggles. Particularly with little ones who grow out of things so quickly, renting is the way to go!
        </li>
        <br>
        <li>The next most affordable option is to rent from a retail shops in the Tahoe area. We recommend <a href="/tahoe-daves" class="navy-link" target="_blank">Tahoe Dave's</a>, which has five locations in North Tahoe with beginner packages starting at just $32/day. Note that they get very busy on Friday evenings and Saturday morning, so also good to call ahead.
        </li>
        <br>
        <li>
        <a href="/skibutlers" target="_blank">
        	<img src="https://s3.amazonaws.com/snowschoolers/ski-butlers-logo.jpg" alt="ski butlers" class="skibutlers-logo">
        </a>      
        Our favorite option for rentals is a company called <a href="/skibutlers" class="navy-link" target="_blank">Ski Butlers</a>. They are a concierge-style delivery service that allows you to book online and have a professional boot-fitter show up to your hotel or cabin the night before to outfit you with the right equipment. As an <b>official Ski Butlers partner</b>, all or our Snow Schoolers customers receive 10% off their rentals. No promo codes are necessary to redeem, <a href="/skibutlers" class="navy-link" target="_blank">click this link</a> and you should see "Snow Schoolers" in the top right of the page, which means your 10% discount has been applied. Ski Butlers rates start at $26/day for kids 12 and under, and $37/day for adults.
        </li>
        <br>
        <li> Lastly, if you forget to plan ahead, you can always rent equipment from the ski resort's on-mountain rental shop the morning of your lesson. Pricing is typically <b>more expensive ($50-75/day)</b> at the mountain, but you get the convenience of not having to fit skis in your car. Particularly on busy holiday weekends, please give yourself at least an extra 60 minutes before your lesson if you are planning to rent from the mountain. </li>
      </ul>	

