<% title "Places to stay in Tahoe" %>
<% meta_tag :description, "This page contains a list of recommended places to stay in Tahoe. From hotels and inns to cabins and hostels, there is a place to stay in Tahoe for every budget." %>
<div class="container">
	<%= render "welcome/accommodations" %>
<div class="buffer"></div>
</div>
