<% title 'Apply as an Instructor' %>
<% meta_tag :description, "Snow Schoolers instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 white-transparent-bg">
                    <div class="hidden-unless-mobile col-md-12">

                        <div id="recruiting-Carousel" class="carousel slide" data-ride="carousel">

                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#recruiting-Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="1"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="2"></li>
                          </ol>
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <h1 class="navy-text center padding-top">Set your own schedule. </h1>
                            </div>

                            <div class="item">
                              <h1 class="navy-text center padding-top">Earn up to $25 per hour.</h1>
                            </div>

                            <div class="item">
                              <h1 class="navy-text center padding-top">
                                Teach at any mountain in Tahoe.
                              </h1>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-12 vertical-padding">
                          <h1 class="center navy-text btn-apply btn-lg">
                            <a href="#recruiting-learn-more"> Learn More </a>
                          </h1>
                        </div>

                    </div>
                    <div class="col-md-12 padding-top hidden-unless-desktop">
                        <h1 class="center navy-text btn-apply btn-lg"> Get Started and Apply Today</h1>
                    </div>
                    <div class="col-md-12">
                        <%= render partial: 'instructors/form' %>
                    </div>
                </div>
                <div id="recruiting-learn-more" class="col-md-6 col-xs-12 black-transparent-bg">
                    <h1 class="center white-text"> Be your own boss this winter</h2>
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/tahoe-ski-bum.png" class="ski-bum-photo" alt="ski-bum-photo"> -->
                    <hr>
                    <h2 class="recruiting-ctas center white-text"> Earn up to $25 per hour.</h2>
                    <h2 class="recruiting-ctas center white-text"> Teach at your favorite mountains.</h2>
                    <!-- <h2 class="recruiting-ctas center white-text"> Teach at any of our partner ski areas.</h2> -->
                    <h2 class="recruiting-ctas center white-text"> Train along side Tahoe's finest.</h2>
                    <div id="spacer"></div>
                    <hr>
                    <img src="https://s3.amazonaws.com/snowschoolers/private-lesson.jpg" class="ski-bum-photo" alt="ski-bum-photo">
                    <!-- <h2 class="recruiting-ctas center white-text"> #freelanceFreedom</h2> -->
                    <hr>
                    <h3 class="white-text center">
                        "Find a job you love, and you will never have to work a day in your life."
                    </h3>
                    <h4 class="white-text center">-Confucious</h4>
                </div>
            </div>
        </div>
    </section>


<section class="navy-bg small">
        <div class="container text-center">
            <div class="call-to-action vertical-padding">
                <h1 class="white-text">About Snow Schoolers</h1>
                <h3 class="white-text">
                     Snow Schoolers is a technology platform that connects ski and snowboard professionals with students and resort partners. We make booking lessons online as easy as hailing an Uber, provide flexibility and entrepreneurial opportunity for our instructors, and we enable our resort partners to grow their businesses.
                </h3>
                   <a href="/index#how-it-works" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
</section>
 <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works">Why Snow Schoolers?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center why-ss">
                    <div class="why-snow-schoolers-box">
                        <h3>Schedule Flexibility</h3>
                        <img src="assets/calendar.png" alt="calendar" class="why-snow-schoolers">
                        <p class="navy-text">Set your own schedule. <br> Teach when you want. Earn what you need.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center why-ss">
                    <div class="why-snow-schoolers-box">
                        <h3>Earn More</h3>
                        <img src="assets/referrals.png" alt="referrals" class="why-snow-schoolers">
                        <p class="navy-text">Easily accept tips and engage with your clients online, earning their trust and future business.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center why-ss">
                    <div class="why-snow-schoolers-box">
                        <h3>Learn More</h3>
                        <img src="assets/PSIA-AASI_Logos.jpg" alt="psia-aasi" class="why-snow-schoolers">
                        <p class="navy-text">Develop your teaching skills by training with Tahoe's finest. Reimbursements for  passing PSIA-AASI exams.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="navy-bg small">
        <div class="container text-center">
            <div class="call-to-action">
                   <a href="#apply" class="btn btn-primary btn-xl page-scroll">Apply Now</a>
                   <h4 class="white-text">
                    Questions? Email us at <a href="mailto:info@snowschoolers.com">info@snowschoolers.com</a>
                   </h4>

            </div>
        </div>
</section>
<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
