<% title "Compare Ski Resorts in Tahoe" %>
<% meta_tag :description, "This page provides a comparison of all ski areas and resorts in Tahoe, from Squaw Valley to Heavenly to Homewood to Sugar Bowl. Compare prices, skiable acres, vertical feet, average snowfall, and more." %>
<div class="container">
<%= render 'welcome/resorts' %>

<section id="comparison">
<!-- RESORT #1 - HOMEWOOD -->
<div class="resort-listing" id="homewood">	
	<h2 class="center how-it-works navy-text">#1 - Homewood</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/big-blue-bar-Jan29.jpg" alt="homewood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The only ski area on the west shore of Tahoe, Homewood has the hands-down best views of the lake, and with a top-to-bottom beginner run, the view can be enjoyed by skiers of any ability. With <a href="http://cloudstore.skihomewood.com/product/5484/CA/Homewood-Adult-A.M.-First-Time-Learn-to-Ski-Lesson-Package.htm#02-2017?utm_campaign=SnowSchoolers_beginner_guide" class="navy-bold-link" target="_blank">Learn To Ski or Ride</a> packages starting at just $59 per day (lift ticket, rental and lesson), it's also the most budget-friendly place to learn how to ski.
	</h3>
    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Lesson at Homewood</a>
        </h3>
    </div>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/homewood" class="navy-bold-link" target="_blank">www.skihomewood.com</a>	</h4>
			<h4>1,260 acres</h4>
			<h4>4</h4>
			<h4>1,650ft</h4>
			<h4>7,880ft</h4>
			<h4>450</h4>
			<h4>$69 for adults, $30 for kids</h4>
			<h4 class="italic">For the extreme skiers and riders out there, Homewood recently opened up 600+ acres of additional terrain, accessible to expert skiers with proper backcountry equipment, and to those willing to splurge on a snowcat tour for $300 per person.</h4>
		</div>
	</div>

</div>


<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>
<hr class="deposit-hr-navy">

<!-- RESORT #2 - KIRKWOOD -->
<div class="resort-listing" id="kirkwood">	
	<h2 class="center how-it-works navy-text">#2 - Kirkwood</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/kirkwood-jan25.jpg" alt="Kirkwood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Arguably the most remote and hardest resort in Tahoe to get to (SR-88 is the only way in or out, and is very windy and avalanche-prone), it is 100% worth it if you can get there. With no shortage of expert chutes and cliff drops, from The Wall to The Cirque, Kirkwood has plenty to keep the adrenaline going. With a peak elevation nearing 10,000 feet and the highest average snowfall in Tahoe at 500”, it deserves to be on every Tahoe skier’s bucket list. 
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/kirkwood" class="navy-bold-link" target="_blank">www.kirkwood.com </a>	</h4>
			<h4>2,300	</h4>
			<h4>15	</h4>
			<h4>2,000ft	</h4>
			<h4>9,800ft	</h4>
			<h4>500"	</h4>
			<h4>$107 for adults, $78 for kids</h4>
			<h4 class="italic">Fun fact: up until 2014, Kirkwood and its surrounding community remained literally "off the grid" and relied exclusively on large generators to provide power to the mountain. As such, there aren't many housing accommodations outside of the village area, unless you go all the way to South Lake Tahoe, which is about 45 minutes away.</h4>
		</div>
	</div>

</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>
<hr class="deposit-hr-navy">

<!-- RESORT #3 - ALPINE -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#3 - Alpine Meadows</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/alpine-meadows-jan25.jpeg" alt="alpine meadows" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> While lesser known than its sister-mountain Squaw Valley, Alpine is a favorite among locals, known for its relaxed atmosphere and variety of beginner to expert terrain. On your last run of the day, you can choose to wind down with a beer at the mid-mountain Chalete bar or down at the base area in one of the many dozens of adirondack chairs surrounding the open fire pits on the deck.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/alpine-meadows" class="navy-bold-link" target="_blank">http://squawalpine.com </a>	</h4>
			<h4>2,400	</h4>
			<h4>13	</h4>
			<h4>1,802ft	</h4>
			<h4>8,637ft	</h4>
			<h4>495"	</h4>
			<h4>$159 for adults, $98 for kids</h4>
			<h4 class="italic">Alpine is known among locals as having the best hikeable terrain in Tahoe. Within usually less than 15 minutes of hiking, expert skiers can access countless bowls with days-old powder that the casual weekend skier is unwillingly to explore.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #4 - SQUAW -->
<div class="resort-listing" id="squaw-valley">	
	<h2 class="center how-it-works navy-text">#4 - Squaw Valley</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/squaw-kt.jpg" alt="squaw valley" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> If you are looking for the most extreme, challenging, and diverse terrain in Tahoe, you'll find it at Squaw. Famous for hosting the winter Olympics back in 1960, Squaw has steadily developed into arguably Tahoe's biggest mega-resort, with nearly 30 lifts across six unique mountain peaks, and a base village area complete with a full array of luxury accomodations, restaurants and retail. The only downside? Crowds. As its popularity as swelled, so has the average lift line wait, which can run upwards of 20-25 minutes on Saturdays and throughout holiday weekends.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/squaw" class="navy-bold-link" target="_blank">http://squawalpine.com </a>	</h4>
			<h4>3,600	</h4>
			<h4>29	</h4>
			<h4>2,850ft	</h4>
			<h4>9,050ft	</h4>
			<h4>450"	</h4>
			<h4>$159 for adults, $98 for kids</h4>
			<h4 class="italic">Unofficially the most popular chairlift in all of Tahoe is likely the KT-22, named after the 22 kick-turns that it took Sandy Poulsen to reach the bottom in 1948. Rising nearly 2,000 vertical feet from the base of the village, its most famous feature is the "fingers", a set of 50-100ft cliff drops conveniently located right under the chairlift for prime viewing. </h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #5 - SUGAR BOWL -->
<div class="resort-listing" id="sugar-bowl">	
	<h2 class="center how-it-works navy-text">#5 - Sugar Bowl</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/sugar_bowl.jpeg" alt="sugar bowl" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The closest resort to the Bay Area, Sugar Bowl is just a few miles west of Donner Pass on I-80, which means day-trips from San Francisco can be done in usually 3 hours or less. Its location and elevation also ensures above-average snowfall, and has plenty of terrain for all abilities. Founded in 1939, it is also one of the oldest ski areas in the country.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/sugar-bowl" class="navy-bold-link" target="_blank">www.sugarbowl.com </a>	</h4>
			<h4>1,650	</h4>
			<h4>13	</h4>
			<h4>1,500ft	</h4>
			<h4>8,282ft	</h4>
			<h4>500"	</h4>
			<h4>$109 for adults, $63 for kids</h4>
			<h4 class="italic">Off the backside of Mt. Judah, expert skiers with proper equipment can access nearly infinite acreage of backcountry terrain, all of which leads down to the Donner Lake area. For just $45, skiers can purchase an "Up and Out" lift ticket that allows two lift rides to the top. Sure beats hiking over 2,000 feet!</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #6 - HEAVENLY -->
<div class="resort-listing" id="heavenly">	
	<h2 class="center how-it-works navy-text">#6 - Heavenly</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/heavenly-resort.jpg" alt="heavenly" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Heavenly is objectively the biggest resort in all of Tahoe, with a peak elevation over 10,000 feet and nearly 5,000 skiable acres. Famously split across the California side and the Nevada side, Heavenly has something for everyone, from wide long intermediate runs to the narrow steep chutes of the Mott and Killebrew canyons. Operated by Vail Resorts since 2002, there are no shortage of amenities, none of which are friendly on the wallet.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/heavenly" class="navy-bold-link" target="_blank">www.skiheavenly.com </a>	</h4>
			<h4>4,800	</h4>
			<h4>30	</h4>
			<h4>3,812ft</h4>
			<h4>10,067ft	</h4>
			<h4>360"	</h4>
			<h4>$135 for adults, $74 for kids</h4>
			<h4 class="italic">Every spring you can find the ski industry's equivalent of an ironman competition at Heavenly's annual "Gunbarrel 25" event, where participants attempt to ski 25 laps in just 6 hours, up and down the famous trail and its 1,800 vertical feet of moguls. </h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #7 - NORTHSTAR -->
<div class="resort-listing" id="northstar">	
	<h2 class="center how-it-works navy-text">#7 - Northstar</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/northstar-village.jpg" alt="northstar" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Alongside Squaw Valley, Northstar is the other mega-resort in North Tahoe. While not known for it's expert terrain by any means (pejoratively known as "flat star" by some at Squaw Valley), the team at Northstar left no stone unturned with respect to building the ultimate luxury resort. Whether staying at the Ritz Carlton located mid-mountain, or in one of the many 4-star condos in the base village, guests visiting Northstar discover a place that feels like Disneyland in the mountains.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Wesbite:</h4>
			<h4>Skiable acres: </h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/northstar" class="navy-bold-link" target="_blank">www.northstarcalifornia.com</a>	</h4>
			<h4>2,904	</h4>
			<h4>19	</h4>
			<h4>2,280ft	</h4>
			<h4>8,610	</h4>
			<h4>350"	</h4>
			<h4>$140 for adults, $83 for kids</h4>
			<h4 class="italic">While it's modest elevation and easterly location limit it's natural snowfall, Northstar has invested in arguably the most significant snowmaking operation in all of Tahoe, ensuring that it is regularly able to open before Thanksgiving and continue operations through the end of April. </h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #8 - Mt. Rose -->
<div class="resort-listing" id="mount-rose">	
	<h2 class="center how-it-works navy-text">#8 - Mount Rose Ski Tahoe</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/MtRose-09.jpg" alt="mount rose" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Despite having the highest base elevation in all of Tahoe at nearly 7,900 feet, Mount Rose remains virtually unknown amongst casual skiers & snowboarders from the Bay Area. Instead, it is the most popular ski area amongst Reno residents, just 30-minutes away from downtown Reno. While it receives significantly less precipitation due to its easterly location, its high elevation means that rain is almost never a concern, even when warm subtropical storms bring the dreaded "wintry mix" to lake level.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/mt-rose" class="navy-bold-link" target="_blank"> http://skirose.com</a>	</h4>
			<h4>1,200	</h4>
			<h4>8	</h4>
			<h4>1,800ft	</h4>
			<h4>9,700ft	</h4>
			<h4>350"	</h4>
			<h4>$115 for adults, $75 for kids</h4>
			<h4 class="italic">On a powder day, be sure to check out the expert chutes, which are roughly 1,500 vertical feet of 45+ degree slopes. The most famous and gut-wrenching is known as The Captivator (El Cap) and can be accessed from the top of either the Blazing Zephyr or Magnum 6 chairlifts. Always mind closure signs and only enter through designated gates, as this area is especially prone to avalanche activity. </h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #9 - SIERRA AT TAHOE -->
<div class="resort-listing" id="siera-at-tahoe">	
	<h2 class="center how-it-works navy-text">#9 - Sierra at Tahoe</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/sierra-at-tahoe.jpg" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The smallest of the three resorts in South Lake, Sierra is also the easiest to get to from the Bay Area or Sacramento. Located about 5 miles before the Echo Summit pass on US-50, Sierra is a just barely a 3hr drive from San Francisco, and is a very family-friendly resort with 75% of its terrain for beginners and intermediates.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/sierra-at-tahoe" class="navy-bold-link" target="_blank">www.sierraattahoe.com </a>	</h4>
			<h4>2,000	</h4>
			<h4>11	</h4>
			<h4>2,212ft	</h4>
			<h4>8,852ft	</h4>
			<h4>480"	</h4>
			<h4>$97 for adults, $37 for kids</h4>
			<h4 class="italic">Sierra is also known for its incredibly affordable adult learn-to-ski packages that start at just $49. They're only availble in limited supply and sell out quickly, so be sure to plan ahead!</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #10 - BOREAL -->
<div class="resort-listing" id="boreal">	
	<h2 class="center how-it-works navy-text">#10 - Boreal</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/boreal-mountain.jpg" alt="boreal" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> If riding the halfpipe or terrain park is your jam, Boreal is for you. Its located along the highway of I-80 at the top of Donner pass, and is open for night skiing 7 days a week until 9pm. With teen and college passes for only $229 and night skiing only passes for $149, Boreal is the perfect playground for adrenaline seekers who want to maximize their hours on the hill. 
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/boreal" class="navy-bold-link" target="_blank">www.rideboreal.com </a>	</h4>
			<h4>380	</h4>
			<h4>8	</h4>
			<h4>500ft	</h4>
			<h4>7,700ft	</h4>
			<h4>400"	</h4>
			<h4>$74 for adults, $44 for kids</h4>
			<h4 class="italic">In the summer, Boreal's Woodward Bunker offers a complete indoor training facility including trampolines, foam pits, and an indoor skatepark to hone your skills all year-round.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #11 - DIAMOND PEAK -->
<div class="resort-listing" id="diamond-peak">	
	<h2 class="center how-it-works navy-text">#11 - Diamond Peak</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/diamond-peak.jpg" alt="diamond peak" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Despite it's relatively modest size, Diamond Peak has a devoutly loyal following amongst the many vacation property owners of Incline Village and Crystal Bay. Located lakeside just across the state border in Nevada, Diamond peak offers guests beautiful vistas of North Tahoe from its Lakeview Quad chairlift.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/diamond-peak" class="navy-bold-link" target="_blank">www.diamondpeak.com</a>	</h4>
			<h4>655	</h4>
			<h4>6	</h4>
			<h4>1,840ft	</h4>
			<h4>8,540ft	</h4>
			<h4>325"	</h4>
			<h4>$74 for adults, $29 for kids</h4>
			<h4 class="italic">With much less name recognition as many of North Tahoes' other resorts, crowds are rarely seen at Diamond Peak, and with ample and affordable lodging available in Incline Village, it's a great choice for families on a budget.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #12 - TAHOE DONNER -->
<div class="resort-listing" id="tahoe-donner">	
	<h2 class="center how-it-works navy-text">#12 - Tahoe Donner</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/tahoe_donner.jpg" alt="tahoe donner ski area" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Tahoe Donner is the ultimate "feeder hill" for the rest of North Tahoe's larger resorts. Despite having only two chairlifts and 120 acres of terrain, Tahoe Donner does just about as many kids lessons as any of the bigger resorts like Squaw, Sugar Bowl and Northstar. With ample lodging available in Truckee and the surrounding Tahoe Donner homeowners association, it's another great spot for families introducing their children to snow sports.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/tahoe-donner" class="navy-bold-link" target="_blank">www.tahoedonner.com</a>	</h4>
			<h4>120	</h4>
			<h4>2	</h4>
			<h4>600	</h4>
			<h4>7,400	</h4>
			<h4>360"	</h4>
			<h4>$59 for adults, $25 for kids</h4>
			<h4 class="italic">The Tahoe Donner Association offers a plethora of additional activities such as cross-country skiings, snowshoeing, and sledding in the winter, as well as golf, tennis, mountain biking and equestrian facilities in the summer.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>



<!-- RESORT #13 - DONNER SKI RANCH -->
<div class="resort-listing" id="donner-ski-ranch">	
	<h2 class="center how-it-works navy-text">#13 - Donner Ski Ranch</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/donner-ski-ranch-chairlifts.jpg" alt="donner ski ranch" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Located literally across the street from Sugar Bowl, Donner Ski Ranch first opened for business in 1937, and has retained its classic charm throughout the decades. With new management taking over for the '16/17 season, the "Ranch" is starting to generate some buzz among North Tahoe locals, many of whom remember learning to ski there in the 60s and 70s. With 500 acres and 6 chairlifts spread across a front-side and back-side, there's a balance of terrain for all abilities, and even a tubing hill for families that don't ski or board.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/donner-ski-ranch" class="navy-bold-link" target="_blank">www.donnerskiranch.com</a>	</h4>
			<h4>505	</h4>
			<h4>6	</h4>
			<h4>750ft	</h4>
			<h4>7,781ft	</h4>
			<h4>412"	</h4>
			<h4>$69 for adults, $29 for kids</h4>
			<h4 class="italic">New this winter, the ranch is offering <a href="https://www.donnerskiranch.com/old-school-days" class="navy-bold-link" target="_blank">"Old School Days"</a> with throwback lift ticket pricing on Tuesdays through Thursdays, where adults can ski for just $40 and kids just $12.  </h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #14 - SODA SPRiNGS -->
<div class="resort-listing" id="soda-springs">	
	<h2 class="center how-it-works navy-text">#14 - Soda Springs</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/soda-springs-wide.png" alt="soda springs ski area" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Located just a few miles from Sugar Bowl and right off of I-80, Soda Springs is the longest running ski resort in Calfironia, and is another great option for families looking for a relaxed atmosphere and an affordable opportunity to introduce their children to snow sports. 
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/soda-springs" class="navy-bold-link" target="_blank">www.skisodasprings.com</a>	</h4>
			<h4>200	</h4>
			<h4>4	</h4>
			<h4>550ft	</h4>
			<h4>7,300ft	</h4>
			<h4>400"	</h4>
			<h4>$50 for adults, $40 for kids</h4>
			<h4 class="italic">Families should definitely check out the special <a href="http://www.skisodasprings.com/soda/planet-kids">Planet Kids</a> zone designed for children 8 and under, which includes snow-tubing carousels, snow volcanoes to climb on, and a specific ski and snowboard learning area for kids.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #15 - GRANLIBAKKEN -->
<div class="resort-listing" id="granlibakken">	
	<h2 class="center how-it-works navy-text">#15 - Granlibakken</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/granlibakken-ski-area.jpg" alt="granlibakken ski hill" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> While probably one of the least well-known ski resorts in Tahoe, Granlibakken is actually the oldest ski resort in the area, having first <a href="http://snowbrains.com/the-history-of-skiing-lake-tahoe/" class="navy-bold-link" target="_blank">opened for business as Olympic Hill in 1924</a>. Today it operates primarily as a conference center and year-round lodge with 190 rooms and over 16,000 square feet of meeting space. The ski hill remains small but lively, and you can regularly spot dozens of families enjoying the ski and sledding hill on any given weekend. Sledding costs just $16 per person and includes a saucer rental, and is completely free for kids 3 and under.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/granlibakken" class="navy-bold-link" target="_blank">http://granlibakken.com/ski-board-sled-hill</a>	</h4>
			<h4>74	</h4>
			<h4>2	</h4>
			<h4>164ft	</h4>
			<h4>N/A	</h4>
			<h4>200"	</h4>
			<h4>$30 for adults, $20 for kids</h4>
			<h4 class="italic"></h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	
<hr class="deposit-hr-navy">

</div>

<!-- RESORT #16 - SKY TAVERN -->
<div class="resort-listing" id="sky-tavern">	
	<h2 class="center how-it-works navy-text">#16 - Sky Tavern</h2>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/sky%2Btavern%2B2017.JPG" alt="sky tavern" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Sky Tavern is the ultimate community-drive ski area, and is actually organized as a 501(c)3 non profit. Parent-volunteers and a robust busing program are the crucial elements of Sky Tavern's incredible eight-week Junior Ski Program, which since 1948 has taught over 100,000 kids to ski and snowboard. Open only on weekends to program participants, parents can enroll their kids in the program for just $165. Children 8 and under must enroll with a parent volunteer, or children between 9 and 18 can enroll without a parent volunteer if they particpate in the bus program.
	</h3>
	<div class="row">
		<div class="col-md-3 col-xs-5">
			<h4>Website:</h4>
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9 col-xs-7">
			<h4><a href="/sky-tavern" class="navy-bold-link" target="_blank">skytavern.org/</a>	</h4>
			<h4>143	</h4>
			<h4>5	</h4>
			<h4>655ft	</h4>
			<h4>8,238ft	</h4>
			<h4>N/A	</h4>
			<h4>N/A</h4>
			<h4 class="italic">Sky Tavern also boasts arguably the largest on-site instructor training program for new instructors. Led by Frank Deras, dozens of new instructors every year train for and earn their PSIA or AASI accredited certifications, with classes starting after Thanksgiving and finishing in time to start the Junior Ski Program the last weekend in January.</h4>
		</div>
	</div>

<h4 class="center"><a href="#resort-list" class="btn btn-default">Back to Top</a></h4>	

</div>

<div class="buffer"></div>

</section>
</div>