    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" class="bg-photo" alt="" /> -->
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/Sugarbowl-4.jpg" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight uppercase">Learn for Less at Sugar Bowl <br>
                <span class="smaller-text"></span>
                </h1>
                <hr>
                <p class="shadow-box-highlight">This week only - get your <span class=""><b>first hour free</b></span> at <a href="http://www.sugarbowl.com/home">Sugar Bowl</a>! <br> Our expert instructors are available to help make your weekend magical. <br> <br> Book online by Friday at <b> MIDNIGHT </b> to reserve your <b>FREE </b> 1-hour lesson. <br> Order your lift ticket too for just $99!</p>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/Sugarbowl-logo.png" class="logo-left" alt="partner-logo" />
                <a href="/lessons/sugarbowl" class="btn btn-primary btn-xl page-scroll">Book Today</a>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/Sugarbowl-logo.png" class="logo-right" alt="partner-logo" />            </div>
        </div>
    </section>

    <section class="pricing-section">
        <div class="pricing-container">
            <h1 class="center price-header">Private Lesson Rate Comparison</h1>
            <table class="col-lg-12 col-xs-12 pricing-table">
              <thead class="">
                <tr class="">
                  <th class="col-xs-2"> </th>
                  <th class="pricing-snowschoolers col-xs-2">Snow Schoolers </th>
                  <th class="pricing-competitors-names col-xs-2">North Star</th>
                  <th class="pricing-competitors-names col-xs-2">Vail</th>
                  <th class="pricing-competitors-names col-xs-2">Deer Valley</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <td class="pricing-length">1hr</td>
                    <td class="pricing-snowschoolers">$75</td>
                    <td class="pricing-competitors">$153</td>
                    <td class="pricing-competitors">$175</td>
                    <td class="pricing-competitors">$148</td>
                </tr>
                <tr>
                    <td class="pricing-length">2hr</td>
                    <td class="pricing-snowschoolers">$150</td>
                    <td class="pricing-competitors">$295</td>
                    <td class="pricing-competitors">$325</td>
                    <td class="pricing-competitors">$287</td>
                </tr>
                <tr>
                    <td class="pricing-length">Half-day (3hr)</td>
                    <td class="pricing-snowschoolers">$225</td>
                    <td class="pricing-competitors">$398</td>
                    <td class="pricing-competitors">$525</td>
                    <td class="pricing-competitors">$375</td>
                </tr>
                <tr>
                    <td class="pricing-length">Full-day (6hr)</td>
                    <td class="pricing-snowschoolers">$450</td>
                    <td class="pricing-competitors">$693</td>
                    <td class="pricing-competitors">$1049</td>
                    <td class="pricing-competitors">$699</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Skiing is expensive enough. Start learning for less.</h2>
                    <hr class="light text-center">
                    <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                    <div class="col-md-8 col-md-offset-2">
                     <h3> Our <b> dynamic pricing </b> allows for tremendous savings, while also ensuring a Snow Schoolers instructor is always available. When you book in advance, especially midweek, you lock in your savings, with one-hour lessons <b>starting at just $75</b>.
                     </h3>
                     <h3> Booking last minute? Not a problem either. Prices only surge when it's necessary to get more instructors out on the hill.
                     </h3>
                     </div>

<!--                     <p> We match students with available instructors completely free of charge, though we do encourage donations as an appreciation of your instructor's time.</p>
 -->                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book in Advance to Save</a>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works">How it works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Request a Lesson</h3>
                        <p class="text-muted">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Match like Magic</h3>
                        <p class="text-muted">Notifications are immediately sent to all available instructors that match your request, and you'll be notified as soon as one confirms their availability. 80% of request are responded to within 12 hours.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Learn for Less</h3>
                        <p class="text-muted">Specific logistics like a meeting spot are coordinated over in-app messaging. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Share the Love</h3>
                        <p class="text-muted">Rate the quality of your Snow Schoolers experience, give your instructor a 5-star review, and share the word!</p>
                       <!-- <p class="text-muted">Rate the quality of your Snow Schoolers experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="bg-dark small">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Get started by signing up today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Lesson Today</a>
            </div>
        </div>
</section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Questions - Let us know!</h2>
                    <hr class="primary">
                    <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>(530)563-6320</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:info@snowschoolers.com">info@snowschoolers.com</a></p>
                </div>
            </div>
        </div>
    </section>
