<div class="container">
<h2 class="center"> <strong> Terms of Service </strong></h2>
<p>Please read the following Terms and Conditions closely before using our Web site (the "Site"). By accessing, browsing and using this Site, you acknowledge that you have read, understood and agree to comply with the terms and conditions stated herein. If you do not agree with any part of these Terms and Conditions, DO NOT USE THIS SITE.
</p>
<p>
Site Owner may at any time modify these Terms and Conditions, and your continued use of this Site will be conditioned upon the terms and conditions in force at the time of your use. Section A of these Terms and Conditions applies to all products and services available through the Site. Section B of these Terms and Conditions applies specifically to Hotel Reservations, Car Rental Services, and Other In-Destination Activities and Tours, as indicated.
</p>
<h3> SECTION A – GENERAL TERMS AND CONDITIONS:</h3>
<h4><b>Copyright Notice</b></h4>
<p>
You, the User, acknowledge that all content included on this Site, including, without limitation, the information, data, software, photographs, graphs, video, typefaces, graphics, music, sounds, images, illustrations, maps, designs, icons, written and other material and compilations (collectively, "Content") are intellectual property and copyrighted works of Site Owner and/or various third-party providers (each a “Provider” and together, the "Providers"). Reproductions or storage of Content retrieved from this Site, in all forms, media and technologies now existing or hereafter developed, is subject to the U.S. Copyright Act of 1976, Title 17 of the United States Code.
</p>
<h4><b>Corporate Identification and Trademarks</b></h4>
<p> You may not use, copy, reproduce, republish, upload, post, transmit distribute or modify the Trademarks in any way, including in advertising or publicity pertaining to distribution of materials on this Site, without Site Owner's prior written consent. The use of Trademarks on any other Web site or network computer environment is prohibited.
</p>
<h4><b> Use Restriction</b></h4>
<p> You may only use this Site to purchase the products/services offered by Site Owner (each, a "Purchase" and together, the “Purchases”), and shall not use this Site to make any speculative, false or fraudulent Purchases. You may not use any automated means to access this Site, unless specifically permitted by Site Owner. You represent that you are of sufficient legal age to create binding legal obligations for any liability you may incur as a result of your use of this Site. You agree to promptly update your membership information (if applicable) in order to keep it current, complete and accurate.
</p>
<p>
It is a violation of law to place a Purchase in a false name or with an invalid credit card. Please be aware that even if you do not give us your real name, your Web browser transmits a unique Internet address to us that can be used by law enforcement officials to identify you. Fraudulent users will be prosecuted to the fullest extent of the law.
</p>
<p>
  Permission is granted to electronically copy and print in hard-copy portions of this Site for the sole purpose of using this Site as a shopping resource. Any other use of materials or Content on this Site, including reproduction for a purpose other than that noted above without Site Owner's prior written consent is prohibited.
</p>
<h4><b> E-mail</b></h4>
<p>We encourage you to share your comments and questions with us, but we may not be able to respond to all of them. Please note that we assume no responsibility for reviewing unsolicited ideas for our business (like product or advertising ideas), and will not incur any liability as a result of any similarities between those ideas and materials that may appear in future Site Owner programs. Also, please remember that you are responsible for whatever material you submit and that you, not Site Owner, have full responsibility for any message that you send, including its reliability, originality and copyright. Please do not reveal trade secrets or other confidential information in your messages. Any, and all, rights to materials and ideas submitted to us become the exclusive property of Site Owner.
</p>
<p> By sending us a message, you agree to have it and your name posted for public viewing, both on the Site and in other Site Owner promotional and advertising materials without compensation.
</p>
<h4><b> Privacy</b></h4>
<p> You confirm that you have read, understood and agree to the <a href="privacy">Privacy Policy</a>, the terms of which are incorporated herein, and agree that the terms of such policy are reasonable and satisfactory to you. You consent to the use of your personal information by Site Owner, its third-party providers, and/or distributors in accordance with the terms of and for the purposes set forth in the Privacy Policy. If you are not a resident of the United States, please note that the personal information you submit to the Site will be transferred to the United States and processed by Site Owner in order to provide its services to you, or for such other purposes (as set forth in the Privacy Policy). Site Owner makes no representation or warranties with regard to the sufficiency of the security measures used for data handling and storage. Site Owner will not be responsible for any actual or consequential damages that result from a lapse in compliance with the Privacy Policy because of a security breach or technical malfunction.
</p>
<h4><b> No Warranties</b></h4>
<p>Unless a Provider has agreed otherwise, all products, services, advice, merchandise and information available through this Site are provided on an "as is," "as available" basis without warranties of any kind, either expressed or implied, other than those imposed by law, including but not limited to, warranties of title or implied warranties of merchantability, satisfactory quality or fitness for a particular purpose. Without limiting the above, no warranty or guarantee is made (i) regarding the acceptance of any Purchase; (ii) that a User will receive the lowest available price for goods and/or services available through this Site; (iii) regarding the availability of products and/or services through this Site or, where applicable, at any participating retailer or retailer location; (iv) that use of this Site and all software, products or services associated with this Site will be error-free; (v) regarding the results that may be obtained from the use of this Site; (vi) regarding the completeness, accuracy, reliability or quality of any information, Content, data, service, advice or merchandise provided or available through this Site; or, (vii) regarding the performance or non-performance of this Site including, but not limited to, any performance or non-performance in connection with or as a consequence of the passage of time. You expressly agree that the use of this Site is at your sole risk.
</p>
<h4><b> General Limitation of Liability</b></h4>
<p> TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL SITE OWNER —INCLUDING ITS RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES, AFFILIATES OR PROVIDERS (COLLECTIVELY, THE "COVERED PARTIES") —BE LIABLE FOR ANY INJURY, DEATH, LOSS, CLAIM, DAMAGE, ACT OF GOD, ACCIDENT, DELAY, OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT OR OTHERWISE, WHICH ARISE OUT OF OR ARE IN ANY WAY CONNECTED WITH ANY USE OF THIS SITE OR WITH ANY DELAY OR INABILITY TO USE THIS SITE, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS OR SERVICES OBTAINED THROUGH THIS SITE, EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>
<p>
Further, the Covered Parties accept no responsibilities for any damage and/or delay due to Provider cancellations, shortages, sickness, pilferage, labor disputes, machinery breakdown, quarantine, government restraints, weather or any other causes beyond the Covered Parties' control. No responsibility is accepted for any additional expense, omissions, delays, re-routing or acts of any governmental authority. No Covered Party shall be responsible for any Provider's breach of any warranty including, but not limited to, implied warranties of fitness for a particular purpose or of merchantability; nor shall any Covered Party be responsible for any other wrongdoing of a Provider (including any liability in tort), as to any products and/or services available through this Site. No Covered Party shall be responsible for any Provider's failure to comply with these Terms and Conditions, nor for any Provider's failure to comply with applicable federal, state and local law.
</p>
<p>
If, notwithstanding the above, a Covered Party is found liable for any loss or damage relating to the use of this Site, the User agrees that the liability of any such party shall in no event exceed the fee or charge to the User assessed by Site Owner for making a Purchase.
Some states—to the extent their law might be deemed to apply, notwithstanding the selection of California law as described (below)—do not allow the limitation of liability, so the foregoing limitations might not apply to you.
</p>
<h4><b> Third Parties</b></h4>
<p>If you use this Site to submit Purchases for or on behalf of a third party ("Third Party"), you are responsible for any error in the accuracy of information provided in connection with such use. In addition, you must inform the Third Party of all Terms and Conditions applicable to all products or services acquired through this Site, including all rules and restrictions applicable thereto.
Each User using this Site for, or on behalf, of a Third Party agrees to indemnify and hold each Covered Party harmless from, and against, any and all liabilities, losses, damages, suits and claims (including the costs of defense), relating to the Third Party's or the User's failure to fulfill any of its obligations as described (above). The User is directly responsible for any Purchase submitted, including related fees, charges and performance obligations.
</p>
<h4><b>User Comments, Feedback and Other Submissions</b></h4>
<p>
All comments, feedback, suggestions and ideas disclosed, submitted or offered to a Covered Party in connection with your use of this Site (collectively, "Comments"), shall become and remain the exclusive property of Site Owner. The Comments may be used by a Covered Party in any medium and for any purpose worldwide, without obtaining your specific consent and you relinquish all rights to such Comments. For example, your Comments could be used on this Site and in radio, television and print advertisements. Your first name, first initial of your last name, and town and state may be used with any Comments you submit. No Covered Party is under any obligation to maintain your Comments (and the use of your first name and first initial of your last name with any comments) in confidence, to pay to you any compensation for any Comments submitted or to respond to any of your Comments. You agree you will be solely responsible for the content of any Comments you make.
</p>
<h4><b>Links to other Web sites and Services</b></h4>
<p>
To the extent this Site contains links to outside services and resources, any concerns regarding such services or resources should be directed to the particular outside service or resource provider. None of the Covered Parties guarantees or warrants the accuracy or completeness of the information or content included on the Web sites of these outside services and resources. The outside services and resources are in no way related to the Site Owner, and are neither its employees nor agents.
</p>
<h4><b>Termination of Usage</b></h4>
<p>User access to all or part of this Site may be terminated or suspended at any time, without notice and for any reason.</p>
<h4><b>Payment Methods</b></h4>
<p> All Booking Purchases must be submitted with a major credit card unless otherwise expressly stated.</p>
<h4><b> Miscellaneous</b></h4>
<p>
  The captions in these Terms and Conditions are only for convenience and do not, in any way, limit or otherwise define the terms and provisions of these Terms and Conditions.
</p>
<p>
  None of the Covered Parties are responsible for any errors or delays in responding to a Purchase caused by an incorrect e-mail address provided by you or other technical problems beyond their control.
</p>
<h4><b>Entire Agreement</b></h4>
<p>
  These Terms and Conditions, together with the Privacy Policy and those terms and conditions incorporated herein or referred to herein, constitute the entire agreement (collectively, the "Agreement") between you and each Covered Party relating to the subject matter hereof, and supersedes any prior understandings or agreements (whether oral or written) regarding the subject matter, and may not be amended or modified except in writing or by making such amendments or modifications available on this Site. If any provision of this Agreement is found to be invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions will not in any way be affected or impaired.
</p>
<h4><b>Governing Law</b></h4>
<p>
  The internal laws of the State of California shall govern the performance of these Terms and Conditions, without regard to such state's conflicts of laws principles. You consent to the exclusive jurisdiction and venue of the courts located in San Francisco, California for all disputes arising out of, or relating to, the Terms and Conditions and use of this Site.
</p>
<h3>
  SECTION B - RULES AND RESTRICTION FOR TRAVEL PRODUCTS AND SERVICE:
</h3>
<h4><b> Customer Cancellations</b></h4>
<p>
  Credit cards are charged at the time of the reservation. There will be a $50 charge for cancellations made after your reservation has been made. Any cancellation made less than 24 hours before the lesson time will be charged the full amount, regardless of weather conditions. A no-call/no-show will be charged the full amount. Reservations canceled after the start of the lesson will be considered a no-show.
</p>
<h4><b> Lesson Booking Restrictions</b></h4>
<p>
  All purchases are final and cannot be canceled, refunded, or transferred to another person, even with a fee. Once you complete a purchase, your credit card will be charged for the amount shown, regardless of whether or not the purchased lesson(s) is/are used. All lessons are subject to the restrictions described in the product description and/or pickup instructions.
</p>
<p>
  Value tickets are only valid for the date(s) selected and cannot be used on different days or at different times. Please ensure your trip dates are certain before you purchase these tickets.
</p>
<p>
  We do not guarantee snow conditions, weather conditions, open terrain or number of lifts operating. Credit will not be given for any unused Purchases and cannot be used toward any future Purchases.
</p>
<p>
  All prices and amounts shown on this Site are in U.S. Dollars (USD), unless otherwise noted. The User agrees that all taxes, charges, surcharges, shipping/handling or other fees will automatically be charged to the credit card submitted by the User. Such amounts will be posted on this Site. You agree that your credit card will be charged for the full cost of your Purchase.
</p>
<h4><b>Booking Fees</b></h4>
<p>
  Booking Fees are special transaction fees that are imposed on us once we make your reservation. Therefore, these fees are not refundable.
</p>
<div class="buffer"></div>
</div>
