<div id="schedule-filters" class="hidden-unless-desktop">
  <%= form_tag(lesson_schedule_results_path, :method => "get", class: "pass-search-form") do %>  
  <div id="sort-selector"
      <div class='row'>
        <div class="col-md-4">
          <h3 class="pull-right">
            <%= text_field_tag :search_date, params[:search_date], class: 'navy-text form-control hasDatePicker', placeholder: 'Pick a date', label: true, required:false %>   
          </h3>     
        </div>
        <div class="col-md-4">
          <h3>
            <%= select_tag :age_type, options_for_select(["Both Kids & Adults","Adults","Kids"], params[:age_type]), {class: 'navy-text form-control'} %>
          </h3>
        </div>      
        <div class="col-md-4">
            <h3> <%= submit_tag "Search Schedule", class:"btn btn-primary page-scroll" %> </h3>
        </div>
      </div>  

  <% end %>
</div>