/*// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
.profile-container{
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 10px 15px 10px 15px;
}
#recruiting-landing-page{
  padding-top:20px;
}
.buffer{
  min-height:50px;
  position: relative;
  clear: both;
}
.white-transparent-bg{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}
.black-transparent-bg{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.why-ss{
  border-radius: 0.5rem;
  border: 1px solid #3b5998;
}
.navy-bg{
  background: rgba(59,89,152, 0.9);
  border-radius: 0.5rem;
  padding-bottom: 20px;
}
.navy-text{
  color: #3b5998;
}
.white-text{ color: #fff; }
.padding-top{
  padding-top: 20px;
}
.vertical-padding{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ski-bum-photo{
  margin: 0 auto;
  display: block;
  max-height: 50vh;
  max-width: 95%;
  border: 1px solid #3b5998;

}
.recruiting-ctas{
  margin: 0 0 0 0px;
}
#weekend-warrior-comparison{
  background-color: #fff;
}
.ski-expenses li{
  font-size: 2em;
  line-height: 1.5;
  color: #fff;
}
.expenses-total{
  max-width: 50%;
  text-align: center;
  display:block;
  margin: 0 auto;
}
.bold{
  font-style: bold;
}
.red{
  color: red;
}
.green {
  color: green;
}
.why-snow-schoolers{
  max-width: 100%;
  height: 150px;
}

.btn-apply{
    color: white;
    background-color: #3b5998;
}
.instructor-photo{
  border: 1px solid #3b5998;
  display: block;
  height: 150px;
  max-width: 150px;
  overflow:hidden;
}
.square-image{
    position:relative;
    overflow:hidden;
    padding-bottom:10px;
}
.avatar-left{
  margin: none ;
}
.avatar-center{
  margin:auto;
}
.instructor-name{
  margin-bottom: 0px;
}
.instructor-resorts{
  list-style: none;
  list-style-type: none;
}
.instructor-resorts li {
  float: left;
  background-color: #3b5998;
  text-align: center;
  color: #fff;
  border: solid 1px black;
  padding: 10px;
  margin-right :10px;
  margin-bottom: 20px;
}

.browse-instructors-btn{
  left:300px;
  font-size: 0.9em;
  bottom: -48px;
  position: relative;
}
.instructor-box{
  height:600px;
  border-bottom: 1px solid #3b5998;
  margin-bottom: 20px;
}
.why-snow-schoolers-box{
  height:300px;
}
.column-wrap{
  max-width: 200px;
  word-wrap: break-word;
}
.apply-container{
  max-width: 800px;
}
.avatar-thumbnail{
  height:80px;
  min-width:60px;
}
.admin-viewable{
  background-color: #55C9B2;
  display: table;
  overflow:auto;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.complete-instructor-bio-section{
}
.instructor-profile-photo{
  max-height: 500px;
  border: 1px solid #3b5998;
  margin: auto;
  position: relative;
}
.resorts-container{
  float: left;
}
.maps-container iframe{
    border: 1px solid #3b5998;
}
.reviews-container{
  max-width: 100%;
  margin: auto;
  position: relative;
  background-color: #3b5998;
  min-height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.reviews-container h4, .reviews-container h5{
  color: white;
}
.individual-review{
  clear:both;
}
.icons{
  height:50px;
}
.icons-small{
  height: 30px;
}
.tele-icon{
  height:40px;
}
.stars-text{
  top: -25px;
  left: 150px;
  position: relative;
}
.browse-attributes{
  list-style-type: none;
  padding-left:0px;
}
.review-count{
  font-size: 0.9em;
  position: relative;
  right:65px;
  top: 4px;
}
.star-rating img {
  height:25px;
}

/*DESKTOP ONLY ADJUSTMENTS*/
@media (min-width: 768px) {
.ski-expenses{
    left: 25px;
    position: relative;
}
.hidden-unless-mobile{
  display: none;
  margin-top: 20px;
}
}

/*MOBILE ADJUSTMENTS*/
@media (max-width: 768px) {

.hidden-unless-desktop{
  display: none;
}
.recruiting-ctas {
  font-size: 1.8em;
}
h2 {
  font-size: 1.8em;
}
.comparison-header{
  font-size: 1.8em;
  }
.comparison-subheading{
  font-size: 1.6em;
  margin-bottom: 5px;
}
.ski-expenses li {
  font-size: 1.5em;
}
.expenses-total{
  max-width: 80%;
}
#recruiting-Carousel{
  height: 15vh;
}
.how-it-works{
  font-size: 0.8em;
}
label, select{
  font-size: 1.3em;
}
.browse-instructors-btn{
  left:180px;
  font-size: 0.9em;
  bottom: -48px;
  position: relative;
}
.instructor-selection{
  position: absolute;
  z-index: 3;
  color: #fff;
  top: 70px;
  left: 30px;
  max-height: 200px;
  width:300px;
  color:#fff !important;
  padding:6px;
  background:rgba(0,0,0,0.3);
  margin:0;
  margin-bottom:2px;
}
.maps-container iframe {
    width: 100%;
    max-height: 50vh;
}
.instructor-profile-photo{
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom:10px;
}
.review-count{
  right:0px;
}

}
