.calendar-block-description{
	font-style: italic;
	bottom: 0;
	position: absolute;
}

.calendar-day-block{
	border: 1px solid #3b5998;
	min-height: 350px;
	background-color: #D3D3D3;
	margin: 5px 5px 5px 5px;
}
.calendar-day-block-products{
	border: 1px solid #3b5998;
	min-height: 200px;
	background-color: #D3D3D3;
	margin: 10px 10px 10px 10px;
}