.nps-rating {
    /*overflow: hidden;*/
    display: inline-block;
    font-size: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.nps-rating-input {
    float: right;
    width: 0px;
    height: 70px;
    padding: 0;
    margin: 0 0 0 0px;
    opacity: 0;
}
.nps-instructor-rating:hover .nps-rating-star:hover,
.nps-instructor-rating:hover .nps-rating-star:hover ~ .nps-rating-star,
.nps-rating-input:checked ~ .nps-rating-star {
    background: url('https://s3.amazonaws.com/snowschoolers/green-rectangle.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.nps-rating-star,
.nps-instructor-rating:hover .nps-rating-star {
    position: relative;
    float: right;
    display: block;
    width: 92px;
    height: 70px;
    background: url('https://s3.amazonaws.com/snowschoolers/light-blue-rectangle.png') 0 0px;
    background-size: contain;
    background-repeat: no-repeat;

}

.nps-rating-text,
.nps-instructor-rating:hover .nps-rating-star .nps-rating-text{
  font-size: 10px;
  width:100%;
  color: gray;
  position: relative;
}
.nps-rating-number{
    left: 20%;
    top: 25px;
    font-size: 50px;
    width: 100%;
    position: relative;
    color: #3b5998;
}
.right{text-align: right; padding-right: 100px;}
.left{text-align: left; padding-left: 40px;}
.clear{
  clear:both;
  width:100%;
}


/*BEGIN INSTRUCTOR RATINGS*/

.instructor-rating {
    /*overflow: hidden;*/
    display: inline-block;
    font-size: 10px;
    position: relative;
    left:25vw;
    max-width: 700px;
}

.rating-input {
    float: right;
    width: 10px;
    height: 70px;
    padding: 0;
    margin: 0 0 0 0px;
    opacity: 0;
}
.instructor-rating:hover .rating-star:hover,
.instructor-rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background: url('https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/green-star.png');
    background-size: contain;
}
.rating-star,
.instructor-rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 70px;
    height: 70px;
    background: url('https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/gray-star.png') 0 0px;
    background-size: contain;
}

.rating-text,
.instructor-rating:hover .rating-star .rating-text{
  font-size: 14px;
  top:70px;
  color: gray;
  position: relative;
}

.submit-ratings-button{
  margin-top: 40px;
}
.star-ratings-field, .negative-field{
  display: inline-block;
  max-width: 100vw;
}
.civility-container{
  position:fixed;
  top:100px;
  max-width: 1100px;
  min-width: 50vw;
  padding-bottom: 20px;
  background-color: white;
  z-index: 2;
  border: 1px solid gray;
}
.submit-ratings-button{
    clear: both;
    display: block !important;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width:767px) {
.rating-star,
.instructor-rating:hover .rating-star {
    width: 50px;
    height: 50px;
  }
.rating-input {
    width: 10px;
    height: 50px;
  }
.rating-text,
.instructor-rating:hover .rating-star .rating-text{
  font-size: 10px;
  top:50px;
  }
.instructor-rating {
    left:-15vw;
    width: 95vw;
}
.star-ratings-field h4 {
  max-width: 90vw;
}

.nps-rating {
    /*overflow: hidden;*/
    display: inline-block;
    font-size: 10px;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 50px;
}

.nps-rating-input {
    float: right;
    width: 0px;
    height: 50px;
    padding: 0;
    margin: 0 0 0 0px;
    opacity: 0;
}
.nps-instructor-rating:hover .nps-rating-star:hover,
.nps-instructor-rating:hover .nps-rating-star:hover ~ .nps-rating-star,
.nps-rating-input:checked ~ .nps-rating-star {
    background: url('https://s3.amazonaws.com/snowschoolers/green-rectangle.png');
    background-size: contain;
}
.nps-rating-star,
.nps-instructor-rating:hover .nps-rating-star {
    position: relative;
    float: right;
    display: block;
    width: 30px;
    height: 35px;
    background: url('https://s3.amazonaws.com/snowschoolers/light-blue-rectangle.png') 0 0px;
    background-size: contain;
}

.nps-rating-text,
.nps-instructor-rating:hover .nps-rating-star .nps-rating-text{
  font-size: 10px;
  width:100%;
  color: gray;
  position: relative;
}
.nps-rating-number{
    left: 0%;
    top: 5px;
    font-size: 25px;
    width: 100%;
    position: relative;
    color: #3b5998;
}
.right{text-align: right}
.left{text-align: left}
.clear{
  clear:both;
  width:100%;
}
.nps-question{
  font-size:1.7em;
  line-height: 1.4;
}
.right{text-align: right; padding-right: 0px;}
.left{text-align: left; padding-left: 0px;}


}
