/*// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
/*BEGIN MOBILE STYLE ADJUSTMENTS*/
@media (max-width: 768px) {
.complete-payment{
    overflow: auto;
    display: block;
}
h3 {
  font-size: 1.3em;
}

}
