    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="lake tahoe" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight season-pass-header">Lock in great savings on the '17/18 season!<br>
                </h1>
                <hr>
                <div>
                    <a href="tahoe-season-passes-search-results?utf8=✓&search=&sort_tag=Price+Low+to+High&search_pass_type=Adult&resort_filter%5Blocation_ids%5D%5B%5D=&commit=Update+Filters" class="btn btn-primary btn-xl page-scroll">Shop Spring Deals</a>
                </div>
                <hr>
                <div class="shadow-box-highlight season-pass-subheader"> 
                    <p>
                        After the snowiest winter in decades, most of Tahoe's <a href="resorts" class="green-link">16 ski areas</a> are now offering great deals on next year's season passes. 
                    <br>
                    <br>
                       When you buy today, you not only lock in the lowest price, you'll also enjoy the rest of this year's spring skiing for free!
                    </p>
                </div>


            </div>
        </div>
    </section>

