<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pre_season_location_request.name %>
</p>

<%= link_to 'Edit', edit_pre_season_location_request_path(@pre_season_location_request) %> |
<%= link_to 'Back', pre_season_location_requests_path %>
